@media screen and (max-width: 1024px){
    body{ 
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    body{
        background: black;
    }
}
@media screen and (max-width: 480px){
    body{
        background: blue;
    }
}
@media screen and (max-width: 320px){
    body{
        background: chocolate;
    }
}